nav{
    color: black !important;
}

#test {
background-color: blue !important;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.small-text {
    font-size: 1rem;
}

.profile-card {
    height: 320px;
}
#moon {
background-image: url(./assets/img/code-bg.jpg);
background-size: cover;
}