@import "https://unpkg.com/open-props";

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

}

h1{
    font-size: var(--font-size-fluid-2);
    color: var(--violet-7);
}

nav{
    
    background-color: var(--violet-7);
    color: var(--violet-1);
    padding:var(--size-fluid-2);
    padding-left:2rem;
    padding-right:2rem;
    font-size: var(--font-size-1);
    display: flex;
    align-items: center;
 flex-direction: column;   
 gap: 1rem;

}
.main-nav > a{
    display: block;
}
.main-nav{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
main{
    padding: var(--size-fluid-3);
    color: var(--violet-8);
    max-width: 56rem;
    margin: 0 auto;
}

.grid{
    display: grid;
    /* place-items: center; */
    gap:2rem;
    grid-template-columns: 1fr;
}
@media screen and (min-width: 700px){
    nav{
        justify-content: space-between;
        flex-direction: row;
    }
    .grid{
        grid-template-columns:repeat(3, 1fr);
    }
}

.card {
    border-radius: var(--radius-2);
    padding: var(--size-fluid-3);
    box-shadow: var(--shadow-2);
}

